<ul id="contenedor-lista" class='demo-list-icon mdl-list w-100'>
    {{#listaProductos}}
        <li class="mdl-list__item">

            <!-- Ícono del producto -->
            <span class="mdl-list__item-primary-content w-10">
                <i class="material-icons mdl-list__item-icon">shopping_cart</i>
            </span>

            <!-- Nombre del producto -->
            <span class="mdl-list__item-primary-content w-30">
                {{nombre}}
            </span>

            <!-- Cantidad del producto -->
            <span class="mdl-list__item-primary-content w-20">
                <!-- Textfield with Floating Label -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input onchange="cambiarValor('cantidad', {{@index}}, this)" value="{{cantidad}}"
                        class="mdl-textfield__input" type="text" id="cantidad-{{@index}}">
                    <label class="mdl-textfield__label" for="cantidad-{{@index}}">Cantidad</label>
                </div>
            </span>

            <!-- Precio del producto -->
            <span class="mdl-list__item-primary-content w-20 ml-item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input onchange="cambiarValor('precio', {{@index}}, this) value="{{precio}}" class="mdl-textfield__input"
                        type="text" id="precio-{{@index}}">
                    <label class="mdl-textfield__label" for="precio-{{@index}}">Precio($)</label>
                </div>
            </span>

            <!-- Acción (eliminar) -->
            <span class="mdl-list__item-primary-content w-20 ml-item">
                <!-- Colored FAB button with ripple -->
                <button onclick="borrarProd({{@index}})"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">remove_shopping_cart</i>
                </button>
            </span>

        </li>
    {{/listaProductos}}
</ul>